//-------------------------------- Nav Header -----------------------------
header {
  padding: 0 !important;
  z-index: 99 !important;
}

#nav-header {
  a {
    color: #00d3ee !important;
  }

  button {
    color: #00d3ee;
  }

  li {
    padding: 0;
    box-shadow: none;
    background: white;

    ul {
      li {
        button {
          &:hover {
            background: #00acc1 !important;
            color: white;
          }
        }
      }
    }

  }

  margin-bottom: 80px;

  .brand-info {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00acc1;
  }
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}

// form gioi tinh
//.MuiFormControl-root.makeStyles-selectFormControl-288.MuiFormControl-fullWidth {
//  margin: 0 !important;
//}
.sex-form {
  margin: 0 !important;
}

#form-data {
  .mg-10 {
    margin: 10px 0;
  }
}

.hktt {
  h4 {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #888888;
    width: 100%;
  }
}


#subscribe {
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}


div#mui-component-select-simpleSelect {
  padding: 19px 0px 19px 25px;
}

.MuiInputLabel-outlined {
  background: #eee;
}

.MuiFormLabel-root.Mui-focused {
  padding: 0 10px;
}

.outline-form label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled {
  padding: 0 10px;
}

.class-mate {
  margin: 20px 0 10px !important;

  span {
    font-weight: 400;
  }
}

#form-data .mg-10 div {
  margin: 0 !important;
}

#info-form .MuiExpansionPanel-root.Mui-expanded:first-child {
  background: #eee !important;
}

#info-form .MuiButtonBase-root.MuiExpansionPanelSummary-root.makeStyles-expansionPanelSummary-602.makeStyles-roseExpansionPanelSummary-609 {
  background: #eee;
}

.bg-e {
  div {
    background: #eee !important;
  }

}

.thpt {
  border-bottom: 1px solid #888888;
  margin-top: 20px !important;
  padding: 0 !important;
  margin-left: 15px !important;
  margin-right: 15px !important;

  span {
    font-weight: 400;
    font-size: 18px;
  }

}

.class-line {
  margin: 10px 0 20px !important;

  span {
    font-size: 16px;
  }
}

.fileinput {
  width: 100% !important;

  .thumbnail {
    max-width: max-content !important;

    img {
      max-height: 350px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

// RUG
.rug-handle-drop-text {

}

.rug .rug-handle:before {
  border: 4px dashed #3d4852 !important;
}

.submit {
  text-align: center;

  button {
    margin: 5px 10px;
  }
}

.MuiAutocomplete-popper {
  z-index: 9 !important;
}

//--------------------- Carousel ---------------------------
#carousel {
  margin: 0 !important;
  margin-top: -30px !important;
  padding: 0 !important;

  .my-caption__slick {
    bottom: 25% !important;

    h4 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      color: black;
      margin: 0 auto 50px auto !important;
      width: 500px;
    }

    button {
      margin: 0 10px !important;
    }
  }

  .my-caption__left {
    right: 50%;
    bottom: 25%;

    h4 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      color: black;
      margin: 0 auto 30px auto !important;
      width: 450px;
    }
  }

  .slick-slider .slick-image {
    height: 100vh;
    object-fit: cover;
  }

  .slick-dots {
    li {
      button {
        &:before {
          border-radius: 999999px;
        }
      }
    }
  }

  .makeStyles-card-181.makeStyles-cardBackground-186 {
    margin: 0 !important;
    padding: 30px !important;
  }
}

//------------------- Login and SignUp ---------------------
.MuiPaper-root.MuiPaper-elevation24.MuiDialog-paper.makeStyles-modal-39.makeStyles-modalSignup-56.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-rounded {
  margin-top: 10px !important;
}


//------------------------- Products ------------------------
.product-image {
  .makeStyles-coloredShadow-446 {
    transform: scaleY(1.05) !important;
  }

  .add-to__wishlist {
    position: absolute !important;
    right: -15px !important;
    padding: 10px !important;
    border-radius: 99999px !important;

    svg {
      width: 22px !important;
      height: 22px !important;
      margin: auto !important;
      color: #f50057;
    }
  }

  img {
    height: 14rem;
    object-fit: cover;
  }

  .atc__preview {
    display: flex;
    position: absolute;
    bottom: 20px;

    button {
      opacity: 0.85 !important;
      border-radius: 9999px;
      padding: 7px !important;
      margin: 0 12px;
      font-size: 10px;
      font-weight: 600;

      &:first-child {
        right: 100px;
        visibility: hidden;
        opacity: 0;
      }

      &:nth-child(2) {
        left: 100px;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &:hover {
    .atc__preview {
      button {
        &:first-child {
          right: 0;
          visibility: visible;
          opacity: 1;
          transition: 0.3s;
        }

        &:nth-child(2) {
          left: 0;
          visibility: visible;
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }
}

.some-info {
  display: flex;

  h6 {
    margin-bottom: 0 !important;
    width: 110px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .product__rated {
    margin-left: auto;
    margin-top: 5px;
  }
}

.prs-price {
  display: inline-block;
  margin-bottom: 5px;

  div {
    font-weight: 500;
  }

  strike {
    margin-left: 7px;
  }
}

//------------------------- Category ------------------------
.category {

  .h_class {
    display: flex;
    justify-content: center;
    height: 100%;

    &:hover {
      &:before {
        opacity: 0.35;
      }

      .category_card-img {
        opacity: 1;
      }
    }

    &:before {
      transition: 0.2s cubic-bezier(.76, .24, .71, .45);
      position: absolute;
      content: "";
      border: 1.5px solid white;
      width: 80%;
      height: 65%;
      transform: translate(0%, 25%);
      background: #983a3a;
      opacity: 0;
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    .category_card-img {
      position: absolute;
      top: 30%;
      opacity: 0;
      transition: 0.5s;

      .category_card-wrapper {
        text-align: center;

        h6 {
          font-weight: 600;
          font-size: 20px;
          color: white;
        }
      }

    }
  }


  .grid_img {
    display: grid;
    padding: 0;

    .card {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .cat_top {
      padding-bottom: 10px;
    }

    .cat_bot {
      padding-top: 10px;
    }
  }
}

//----------------------- Service ---------------------------
.service_list-card {
  .scard-img_wrapper {
    height: 12rem;
    padding: 10px;

    .scard-img {
      margin: 0;
      height: 100%;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.25);
          transition: 0.3s;
        }

        &:before {
          transition: 0.3s;
          content: " ";
          background: rgba(70, 44, 255, 0.65);
          height: 100%;
          width: 100%;
          opacity: 0.25;
          position: absolute;
          z-index: 2;
        }

        .service_body-card {
          transition: 1.3s;
          opacity: 1;
          z-index: 3;
        }
      }

      img {
        height: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.15);
          transition: 0.5s;
          opacity: 0.85;
        }
      }

      .service_body-card {
        opacity: 0;
        display: grid;
        position: absolute;
        transform: translate(50%, 40%);
        padding: 0;
        z-index: 0;

        h6 {
          transition: 0.5s;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
        }

        button {
          padding: 10px 15px;
        }
      }

    }
  }
}

.makeStyles-cardHeader-506.makeStyles-infoCardHeader-515 {
  margin-top: -30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 15px 60px !important;

  button {
    margin: 0 10px;
    border-radius: 9999px;
  }
}

//----------------------- Footer ------------------------------
#footer {
  padding: 70px 0 0 0 !important;
}


//----------------------------------Responsive Mobile------------------------
@media screen and (max-width: 767px) {
  #subscribe {
    .makeStyles-cardForm-203 {
      top: 0;
      margin: 0 0 0 14px;
      padding: 0;

    }

    .makeStyles-underline-354:hover:not(.makeStyles-disabled-327):before, .makeStyles-underline-354:before {
      border-bottom-color: #D2D2D2 !important;
      width: 94% !important;
      border-bottom-width: 1px !important;
    }

    .makeStyles-cardForm-369 {
      top: 10px;
      padding: 0;
    }

    .makeStyles-formControl-389 {
      margin: 0 0 17px 0;
      position: relative;
      padding-top: 27px;
    }

    .makeStyles-underline-328:after {
      border-bottom-color: #9c27b0;
      width: 94% !important;
    }
  }
  #carousel {
    .slick-slider .slick-image {
      height: auto !important;
    }

  }
}
