//-------------------------------- Nav Header -----------------------------
header {
  padding: 0 !important;
  z-index: 99 !important;
}

#nav-header {
  a {
    color: #00d3ee !important;
  }

  button {
    color: #00d3ee;
  }

  li {
    padding: 0;
    box-shadow: none;
    background: white;

    ul {
      li {
        button {
          &:hover {
            background: #00acc1 !important;
            color: white;
          }
        }
      }
    }

  }

  margin-bottom: 80px;

  .brand-info {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00acc1;
  }
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}

// form gioi tinh
//.MuiFormControl-root.makeStyles-selectFormControl-288.MuiFormControl-fullWidth {
//  margin: 0 !important;
//}
.sex-form {
  margin: 0 !important;
}

#form-data {
  .mg-10 {
    margin: 10px 0;
  }
}

.hktt {
  h4 {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #888888;
    width: 100%;
  }
}


#subscribe {
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}


div#mui-component-select-simpleSelect {
  padding: 19px 0px 19px 25px;
}

.MuiInputLabel-outlined {
  background: #eee;
}

.MuiFormLabel-root.Mui-focused {
  padding: 0 10px;
}

.outline-form label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled {
  padding: 0 10px;
}

.class-mate {
  margin: 20px 0 10px !important;

  span {
    font-weight: 400;
  }
}

#form-data .mg-10 div {
  margin: 0 !important;
}

#info-form .MuiExpansionPanel-root.Mui-expanded:first-child {
  background: #eee !important;
}

#info-form .MuiButtonBase-root.MuiExpansionPanelSummary-root.makeStyles-expansionPanelSummary-602.makeStyles-roseExpansionPanelSummary-609 {
  background: #eee;
}

.bg-e {
  div {
    background: #eee !important;
  }

}

.thpt {
  border-bottom: 1px solid #888888;
  margin-top: 20px !important;
  padding: 0 !important;
  margin-left: 15px !important;
  margin-right: 15px !important;

  span {
    font-weight: 400;
    font-size: 18px;
  }

}

.rug .rug-items.__card {
  min-height: 20px !important;
}


.class-line {
  margin: 10px 0 20px !important;

  span {
    font-size: 16px;
  }
}

.fileinput {
  width: 100% !important;

  .thumbnail {
    max-width: max-content !important;

    img {
      max-height: 350px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl div {
  padding: 0 25px;
}

.add_wish {
  margin: 20px 0 !important;
}

.margin-t {
  margin: 0 !important;
}

.relate {
  font-weight: 600;
  margin: 0 0 20px 0 !important;
}

// RUG
.rug-handle-drop-text {

}

.rug .rug-handle:before {
  border: 4px dashed #3d4852 !important;
}

.submit {
  text-align: center;

  button {
    margin: 5px 10px;
  }
}

.MuiAutocomplete-popper {
  z-index: 9 !important;
}


#footer {
  padding: 70px 0 0 0 !important;
}


//----------------------------------Responsive Mobile------------------------
@media screen and (max-width: 767px) {
  #subscribe {
    .makeStyles-cardForm-203 {
      top: 0;
      margin: 0 0 0 14px;
      padding: 0;

    }

    .makeStyles-underline-354:hover:not(.makeStyles-disabled-327):before, .makeStyles-underline-354:before {
      border-bottom-color: #D2D2D2 !important;
      width: 94% !important;
      border-bottom-width: 1px !important;
    }

    .makeStyles-cardForm-369 {
      top: 10px;
      padding: 0;
    }

    .makeStyles-formControl-389 {
      margin: 0 0 17px 0;
      position: relative;
      padding-top: 27px;
    }

    .makeStyles-underline-328:after {
      border-bottom-color: #9c27b0;
      width: 94% !important;
    }
  }
  #carousel {
    .slick-slider .slick-image {
      height: auto !important;
    }

  }
}
